body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  